out/test/**
out/**/*.map
src/**
.vscode/**
scripts/**
.gitignore
tsconfig.json
node_modules/**/README.md
node_modules/**/CHANGELOG.md
node_modules/**/SECURITY.md
node_modules/**/LICENSE.md
node_modules/**/*.d.ts
node_modules/**/*.map
node_modules/**/*.flow
node_modules/**/dist/**/*.map
node_modules/typescript/bin/**
node_modules/typescript/lib/_tsc.js
node_modules/typescript/lib/_typingsInstaller.js
node_modules/typescript/lib/tsc.js
node_modules/typescript/lib/_tsserver.js
node_modules/typescript/lib/tsserver.js
node_modules/typescript/lib/tsserverlibrary.js
node_modules/typescript/lib/typingsInstaller.js
node_modules/typescript/lib/typescript.d.ts
node_modules/typescript/lib/typesMap.json
node_modules/typescript/lib/watchGuard.js
node_modules/typescript/lib/lib.*.d.ts
node_modules/typescript/lib/*/diagnosticMessages.generated.json
node_modules/@vue/compiler-sfc/dist/compiler-sfc.esm-browser.js
node_modules/@vue/compiler-sfc/dist/compiler-sfc.d.ts
node_modules/@vue/compiler-dom/dist/compiler-dom.global.js
node_modules/@vue/compiler-dom/dist/compiler-dom.global.prod.js
node_modules/@vue/compiler-dom/dist/compiler-dom.esm-browser.js
node_modules/@vue/compiler-dom/dist/compiler-dom.esm-browser.prod.js
node_modules/@vue/compiler-dom/dist/compiler-dom.esm-bundler.js
node_modules/@vue/compiler-dom/dist/compiler-dom.d.ts
